# Google OAuth
VITE_GOOGLE_CLIENT_ID=536889580517-khp1pod4m36o47pbnfej97lhht3obon7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# Application URL (e.g., https://obpro.netlify.app)
APP_URL=
VITE_API_URL=
